{% extends "acp/base.twig" %}

{% block page %}
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>
			<i class='fa fa-dashboard'></i>&nbsp;&nbsp;Dashboard
		</h1>
	</section>

	<!-- Main content -->
	<section class="content">

		<!-- Your Page Content Here -->

	</section><!-- /.content -->
{% endblock %}