{#
	Sports Match Administrator

	Copyright © 2014-2015, Jack P. Harley, jackpharley.com
	All Rights Reserved
#}

{% extends "base.twig" %}

{% block pageTitle %}Home{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="text-center"><span class="glyphicon glyphicon-minus-sign"></span> Permission Denied</h2>

				<p class="text-center">
					Looks like you don't have permission to access that, please contact the site administrator if you believe you should have access.
				</p>
			</div>
		</div>
{% endblock %}